﻿<html>
	<head>
		<title>Baza filmowa</title>
		<script src="angular.min.js"></script>
		<script src="jquery.min.js"></script>
		<script src="bootstrap.min.js"></script>
		<link rel="stylesheet" href="bootstrap.min.css" />
		<link rel="stylesheet" href="spinner.css" />
		<style>
			th:hover{
				cursor: pointer;
			}
			#spinner{
				position: fixed; 
				top: 50%; 
				left: 50%; 
				width: 100px; 
				height: 100px; 
				margin-left: -50px;
				margin-top: -50px;
				z-index: 1000;
			}
			#spinner_bg{
				position: fixed;
				background-color: #000;
				opacity: 0.2;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 100;
			}
		</style>
	</head>
	<body>
		<div id="spinner_bg"></div>
		<div class="spinner" id="spinner">
			<div class="bounce1"></div>
			<div class="bounce2"></div>
			<div class="bounce3"></div>
		</div>
		<div ng-app="" ng-controller="movieController" class="container">
			<nav class="navbar navbar-default" role="navigation">
			  <div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Filmoszukacz</a>
				</div>
				<div>
					<ul class="nav navbar-nav navbar-right">
						<form class="navbar-form navbar-left" role="search">
							<div class="form-group">
								<input type="text" ng-model="searched" class="form-control" placeholder="Szukaj...">
							</div>
						</form>
					</ul>
				</div>
			  </div>
			</nav>
			<div class="col-md-3">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Pokaż kolumny</h3>
					</div>
					<ul class="list-group">
						<li class="list-group-item"><input type="checkbox" ng-model="showYear"> Rok</input></li>
						<li class="list-group-item"><input type="checkbox" ng-model="showGenre"> Gatunek</input></li>
						<li class="list-group-item"><input type="checkbox" ng-model="showCountry"> Kraj</input></li>
						<li class="list-group-item"><input type="checkbox" ng-model="showDirector"> Reżyser</input></li>
					</ul>
				</div>
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Gatunek</h3>
					</div>
					<ul class="list-group">
						<li ng-repeat="gen in availableGenres" class="list-group-item">
							<input type="radio" ng-model="genre" name="genreradio" value="{{gen}}" ng-click="setGenre(gen)" /> 
							{{ gen }}
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-9">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Znalezione wyniki: {{ searched }}</h3>
					</div>
					<table class="table table-hover">
						<thead>
							<tr>
								<th ng-click="setSort('title')">Tytuł</th>
								<th ng-click="setSort('year')" ng-if="showYear">Rok</th>
								<th ng-click="setSort('genre')" ng-if="showGenre">Gatunek</th>
								<th ng-click="setSort('country')" ng-if="showCountry">Kraj</th>
								<th ng-click="setSort('director')" ng-if="showDirector">Reżyser</th>
							</tr>
						</thead>
						<tr ng-repeat="movie in movies | orderBy: sort | filter: searched">
							<td>{{ movie.title }}</td>
							<td ng-if="showYear">{{ movie.year }}</td>
							<td ng-if="showGenre">{{ movie.genre }}</td>
							<td ng-if="showCountry">{{ movie.country }}</td>
							<td ng-if="showDirector">{{ movie.director }}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<script>
		function movieController($scope, $http) 
		{
			$("#spinner, #spinner_bg").show();
			$http.get("http://localhost/proz/web/app_dev.php/movies.json").success(
				function(response) {
					$scope.movies = response;
					$("#spinner, #spinner_bg").hide();
				}
			);
			
			$http.get("http://localhost/proz/web/app_dev.php/movies/genres.json").success(
				function(response) {
					$scope.availableGenres = response;
					$scope.availableGenres.unshift('wszystkie');
				}
			);
			
			$scope.sort = "title";
			$scope.showYear = true;
			$scope.showGenre = true;
			$scope.genre = 'wszystkie';
			
			$scope.setSort = function(type) { $scope.sort = type };
			
			$scope.setGenre = function(genre) {
				$("#spinner, #spinner_bg").show();
				$scope.genre = genre;
				var url;
				if(genre == 'wszystkie') url = 'movies.json';
				else url = "movies/"+genre+"/genre.json";
				$http.get("http://localhost/proz/web/app_dev.php/"+url).success(
					function(response) { 
						$scope.movies = response; 
						$("#spinner, #spinner_bg").hide();
					}
				);
			};
		}
		</script>
	</body>
</html>